{% extends "base.html" %}
{% block content %}
    <div class="article_detail">
        <h1>{{ article_obj.title }}</h1>
        <p>{{ article_obj.articledetail.content|safe }}</p>
    </div>
    <!-- 点赞 -->
    <div class="poll clearfix">
    <div id="div_digg">
        <div class="diggit action">
            <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
        </div>
        <div class="buryit action">
            <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
        </div>
        <div class="clear"></div>
        <div class="diggword" id="digg_tips">
        </div>
    </div>
    </div>
    <p>评论树</p>
    <div class="comment_tree">

    </div>
    <hr>
    <p>评论列表</p>
    <ul class="comment_list">
        {% for comment in comment_list %}
        <li class="list-group-item">
        <div>
            <a href="">#{{ forloop.counter }}楼</a> &nbsp;&nbsp;
            <span style="color: gray">{{ comment.create_time|date:"Y-m-d H:s" }}</span>&nbsp;&nbsp;
            <a href=""><span>{{ comment.user.username }}</span></a>
            <a class="pull-right replay_btn" username="{{ comment.user.username }}" comment_pk="{{ comment.pk }}"><span>回复</span></a>
        </div>
            {% if comment.parent_comment_id %}
            <div class="pid_info well">
            <p>{{ comment.parent_comment.user.username }}：&nbsp;&nbsp;&nbsp; {{ comment.parent_comment.content }}</p>
            </div>
            {% endif %}

        <div class="con">
            <p>{{ comment.content }}</p>
        </div>
         </li>
        {% endfor %}

    </ul>

    {% if request.user.username %}
    <div class="div_comment">
        <p>
        昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50" value="{{ request.user.username }}">
        </p>
    <p>评论内容</p>
        <textarea name="" id="comment_content" cols="100" rows="10"></textarea>
        <p><button id="comment_btn">提交评论</button></p>
    </div>
    {% else %}
        <a href="/login/">请登录</a>
    {% endif %}


{% endblock %}

{% block js %}
    <!--点赞或反对--> 
    <script>
        $("#div_digg .action").click(function () {
            if ("{{ request.user.username }}") {
                var is_up = $(this).hasClass("diggit");
                {# 如果类里有diggit就是True，否则就是False #}  // 决定是赞还是踩
                var article_id = "{{ article_obj.nid }}";
                $.ajax({
                    url: "/blog/up_down/",
                    type: "post",
                    data: {
                        "is_up": is_up,
                        "article_id": article_id,
                    },
                    success: function (data) {
                        if (data.status) {  // 赞或踩成功
                            if (is_up) {  // 赞+1
                                var val = $("#digg_count").text();
                                val = parseInt(val) + 1;  // 将字符串格式转换成数字，然后 +1
                                $("#digg_count").text(val);
                            } else {  // 踩+1
                                var val = $("#bury_count").text();
                                val = parseInt(val) + 1;  // 将字符串格式转换成数字，然后 +1
                                $("#bury_count").text(val);
                            }

                        } else {  // 赞或踩 重复
                            if (data.msg) {
                                $("#digg_tips").html('您已经赞过了');
                            } else {
                                $("#digg_tips").html('您已经反对过了');
                            }
                            setTimeout(function () {  // 2秒后提示消失
                                $("#digg_tips").html('')
                            }, 2000)
                        }
                    },
                })
            } else {
                $("#digg_tips").html("请先<a href='/login/'>登录</a>");
            }
        })

    </script>
    <!--提交评论-->
    <script>
    var pid="";
    $("#comment_btn").click(function () {
        var article_id = "{{ article_obj.nid }}";
        var content = $("#comment_content").val();
        if (pid){  // 取子评论里 非@ 的内容
            var index = content.indexOf("\n");  // 找到换行符的索引，
            content = content.slice(index+1);  // 从换行符位置切片到最后
        }
        $.ajax({
            url: "/blog/comment/",
            type: "post",
            data: {
                article_id: article_id,
                content:content,
                pid:pid,
            },
            success:function (data) {
                var create_time = data.create_time;
                var content = data.content;
                var username = data.username;
                var comment_li = '<li class="list-group-item"><div>\n' +
                    '            <span style="color: gray">'+create_time+'</span>&nbsp;&nbsp;\n' +
                    '            <a href=""><span>'+username+'</span></a>\n' +
                    '           </div><div class="con"><p>'+content+'</p></div></li>';
                $(".comment_list").append(comment_li);
                // 清空评论框
                $("#comment_content").val("");
                pid="";  // 清空pid
            }
        })
    })
    </script>
    <!--回复按钮-->
    <script>
    $(".list-group-item .replay_btn").click(function () {

        $("#comment_content").focus();  <!-- 光标事件，光标锁定到输入框 -->
        var v="@"+$(this).attr("username")+"\n";
        $("#comment_content").val(v);
        pid=$(this).attr("comment_pk");  // 点击回复就给pid 赋值
    })
    </script>
    <!--获取评论数据，展示评论树结构-->
    <script>
    $.ajax({
        url:"/blog/comment_tree/{{ article_obj.pk }}/",
        success:function (data) {
            $.each(data,function (index,comment_dict) {
                var s='<div class="comment_item" comment_id='+comment_dict.pk+'><span class="content">'+comment_dict.content+'</span></div>';
                if(comment_dict.parent_comment_id){  // 子评论
                    var parent_comment_id=comment_dict.parent_comment_id;
                    $("[comment_id="+parent_comment_id+"]").append(s)
                }else {  // 根评论
                    $(".comment_tree").append(s);
                }
            })
        }
    })
    </script>
{% endblock %}